.ex-1-square:hover{
    background-color: red;
}

.ex-2-square:active{
    width: 100%;
}

.ex-3-square:hover{
    border-radius: 50%;
}

.ex-4-square:hover{
    opacity: 0;
}

.ex-5-square:hover{
    transform: scale(2, 2);
}

.ex-5-square:active{
    transform: scale(0.5, 0.5);
}

.ex-6-img:hover{
    filter: grayscale(100%);
}

.ex-7-img:hover{
    filter: grayscale(60%);
    filter: sepia(60%);
}

.ex-8-img:hover{
    border-radius: 20px;
    filter: grayscale(80%);
    filter: sepia(60%);
}

.ex-9-img:hover{
    transform: scale(1.5,1.5);
    border-radius: 20px;
    filter: grayscale(80%); 
    filter: sepia(60%);
}

/* eser 10 */
@keyframes loading{
    0%{
        transform: rotate(-360deg);
    }
}

.ex-11-icon:hover{
    animation: spin 2s linear;
}

@keyframes spin{
    0% {
        transform: rotate(0);
    }
    90% {
        transform: rotate(310deg);
    }
    100% {
        transform: rotate(0);
    }
}

.ex-12-button:hover .ex-12-top-white{
    animation: moveTop linear 2s;
}

@keyframes moveTop{
    0%{
        left: 10%;
    }
    50%{
        left: calc(100% - 60px);
    }
    100%{
        left: 10%;
    }
}

.ex-12-button:hover .ex-12-bottom-white{
    animation: moveBottom linear 2s;
}


@keyframes moveBottom{
    0%{
        right: 20%;
    }
    50%{
        right: calc(100% - 60px);
    }
    100%{
        right: 20%;
    }
}


